.Sortbar {
  padding: 60px 0px 0px 10px;
  border-bottom: 1px solid #eee;
  margin: auto;
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.Search {
  display: flex;
  justify-content: space-around;
  font-size: 90%;
  padding-top: 25px;
}

select {
  position: relative;
  margin-left: 10px;
  padding: 5px 5px;
  border-radius: 3px;
  border: 1px black solid;
  font-size: 15px;
  color: grey;
}


.Results {
  padding-right: 50px;
}

.Favorite {
  color: skyblue;
  font-weight: bold;
}
