.Item {
  width: 40%;
  overflow: hidden;
  margin: 3vh 0;
  border: 1px solid #eeeeee;
  padding: 1px 15px 0px;
  border-radius: 5px;
}

.ItemFavorite {
  width: 40%;
  overflow: hidden;
  margin: 3vh 0;
  border: 1px solid #eeeeee;
  background-color: #c4c4c4;
  padding: 1px 15px 0px;
  border-radius: 5px;
}

.Subtitles {
  font-size: 80%;
  color: grey;
}

.Link {
  text-decoration: none;
  color: grey;
}

.Link:hover {
  text-decoration: underline dotted;
}

.Title {
  text-decoration: none;
  color: black;
}
